body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://plus.unsplash.com/premium_photo-1671118665719-da348d44edb9?q=80&w=2088&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: cover-bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    margin: 0;
    padding: 0;
}

header{ 
    background-color:olivedrab;
    color:black;
    padding: 20px;
    text-align: center;
}
section{
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background:rgba(247, 243, 243, 0.678);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.113);
}

h2{
    color: black;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.social-links{  
    margin-top: 10px;
}

.social-links > a{
    margin: 0px 10px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

.social-links > a:hover{
    text-decoration: underline;
    font-size: 25px;
    color: olivedrab;
}

footer > p{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

/* Project-list (Centring our div's)*/
.Project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: rgba(247, 243, 243, 0.678);
    border-left: 4px solid olivedrab;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    box-shadow: o 2px 5px rgba(0, 0, 0, 0.113);
    transition: transform 0.2s;
}

.project-card:hover{
    transform:translateY(-5px);
}

.project-card h3{
    margin-top: 0;
    color: rgb(5, 106, 5);
}

.project-card > p{
    font-size: 14px;
    color: black;
}

.project-card > a{
    display: inline-block;
    padding: 8px 15px;
    background-color: black;
    color: whitesmoke;
    border: none   ;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.project-card > a:hover{
    background-color: olivedrab;
    color: black;
}

nav {
    background: rgb(245, 245, 245);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    gap: 20px;
}

.navbar > li > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar > li > a:hover{
    background-color: olivedrab;
    color: rgb(245, 245, 245)
}